<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.favoriteProperty.model.mapper.FavoritePropertyMapper">

    <!-- 관심 매물 추가 -->
    <insert id="insertFavoriteProperty">
        INSERT INTO favorite_properties (id, member_id, apt_seq)
        VALUES (#{id}, #{memberId}, #{aptSeq});
    </insert>
    <!-- 특정 사용자의 관심 매물 조회 (favorite_property_details 뷰 사용) -->
    <select id="selectFavoritePropertiesByMemberId" resultType="FavoritePropertyDetailsDto">
        SELECT f.favorite_id  AS id,
               f.member_id    AS memberId,
               f.apt_seq      AS aptSeq,
               f.apt_nm       AS aptNm,
               f.land_address AS landAddress,
               f.road_address AS roadAddress,
               f.deal_amount  AS dealAmount,
               f.deal_year    AS dealYear,
               f.deal_month   AS dealMonth,
               f.deal_day     AS dealDay
        FROM favorite_property_details f
        WHERE f.member_id = #{memberId};
    </select>
    <!-- 관심 매물 삭제 -->
    <delete id="deleteFavoriteProperty">
        DELETE
        FROM favorite_properties
        WHERE id = #{id}
    </delete>

</mapper>
