<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.houseDeal.model.mapper.HouseDealMapper">
    <resultMap id="houseDeal" type="houseDealDto">
        <result column="apt_seq" property="aptSeq" />
        <result column="apt_dong" property="aptDong" />
        <result column="deal_year" property="dealYear" />
        <result column="deal_month" property="dealMonth" />
        <result column="deal_day" property="dealDay" />
        <result column="exclu_use_ar" property="excluUseAr" />
        <result column="deal_amount" property="dealAmount" />
        <result column="sgg_cd" property="sggCd" />
        <result column="umd_cd" property="umdCd" />
        <result column="sido_name" property="sidoName" />
        <result column="gugun_name" property="gugunName" />
        <result column="dong_name" property="dongName" />
        <result column="road_nm_sgg_cd" property="roadNmSggCd" />
        <result column="road_nm" property="roadNm" />
        <result column="road_nm_bonbun" property="roadNmBonbun" />
        <result column="road_nm_bubun" property="roadNmBubun" />
        <result column="apt_nm" property="aptNm" />
        <result column="build_year" property="buildYear" />
    </resultMap>

    <select id="getHouseDeals" parameterType="map" resultMap="houseDeal">
		SELECT dc.sido_name, dc.gugun_name, dc.dong_name, d.apt_seq, i.apt_nm
        FROM house_deals d
        JOIN house_infos i ON i.apt_seq = d.apt_seq
        JOIN dong_codes dc ON dc.dong_code = concat(i.sgg_cd, umd_cd)
        <where>
            <if test="sidoCode != null and sidoCode != ''">
                i.sgg_cd LIKE concat(#{sidoCode}, '%')
            </if>
            <if test="gugunCode != null and gugunCode != ''">
                AND i.sgg_cd LIKE concat(#{gugunCode}, '%')
            </if>
            <if test="dongCode != null and dongCode != ''">
                AND i.umd_cd = #{dongCode}
            </if>
            <if test="keyword != null">
	            AND i.apt_nm LIKE concat("%", #{keyword}, "%")
            </if>
        </where>
        LIMIT #{pgSize} OFFSET #{offset};
    </select>
    
    <select id="getHouseDealsWithKeyword" parameterType="getHouseDealWithKeywordRequest" resultMap="houseDeal">
    	SELECT d.no, d.apt_seq, apt_dong, floor, deal_year, deal_month, deal_day,
				exclu_use_ar, deal_amount, i.sgg_cd, i.umd_cd, jibun, road_nm_sgg_cd, road_nm,
				road_nm_bonbun, road_nm_bubun, apt_nm, build_year, latitude, longitude
		FROM house_deals d
		JOIN house_infos i ON i.apt_seq = d.apt_seq
		<where>
			<if test="type == 'house'">
				i.apt_seq = #{code}
			</if>
			<if test="type == 'region'">
				i.sgg_cd = SUBSTRING(#{code}, 1, 5)
				AND i.umd_cd = SUBSTRING(#{code}, 6, 10)
			</if>
		</where>
		ORDER BY deal_year desc, deal_month desc, deal_day desc
		LIMIT #{pgSize} OFFSET #{offset};
    </select>

    <select id="getCountHouseDealsWithKeyword" parameterType="map" resultType="int">
        SELECT count(d.no)
        FROM house_deals d
        JOIN house_infos i ON i.apt_seq = d.apt_seq
        <where>
            <if test="type == 'house'">
                i.apt_seq = #{code}
            </if>
            <if test="type == 'region'">
                i.sgg_cd = SUBSTRING(#{code}, 1, 5)
                AND i.umd_cd = SUBSTRING(#{code}, 6, 10)
            </if>
        </where>
    </select>
</mapper>
