<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.member.model.mapper.MemberMapper">

	<!-- <resultMap type="memberDto" id="member">
		<result column="id" property="id" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="email" property="email" />
	</resultMap> -->
	<select id="getMemberByNameAndEmail" parameterType="map"
			resultType="memberDto">
		select *
		from members
		where email=#{email} and name=#{name};
	</select>

	<insert id="insertMember" parameterType="memberDto" useGeneratedKeys="true" keyProperty="id">
		insert into members(id, password, email, name, role)
		values (#{id},#{password}, #{email}, #{name}, #{role})
	</insert>

	<update id="updateMember" parameterType="memberDto">
	    update members
	    set name = #{name}
	    <if test="password != null and password != ''">
	        , password = #{password}
	    </if>
	    where id = #{id};
	</update>


	<select id="getMemberByMemberId" parameterType="String">
		select * 
		from members
		where id = #{id}
	</select>

	<delete id="deleteMember" parameterType="String">
		delete from members
		where id = #{id}
	</delete>

	<select id="getAllMembers" resultType="memberDto">
		select *
		from members
	</select>
	
	<select id="searchMembers" parameterType="String" resultType = "memberDto">
		select *
		from members
   		WHERE id LIKE CONCAT('%', #{id}, '%')
	</select>
	
	<select id="getMemberCountByEmailAndId" parameterType="String" resultType="int">
		SELECT count(*)
		FROM members
		WHERE email = #{email} and id = #{id}
	</select>

	<update id="updatePassword" parameterType="map">
		UPDATE members
		SET password = #{password}
		WHERE email = #{email}
	</update>
</mapper>
