/.metadata/
Servers/
.idea
.settings

WhereIsMyHome/.idea/
WhereIsMyHome/.settings/
WhereIsMyHome/target/

backend/.idea/
backend/.settings/
backend/target/
backend/src/main/resources/application.properties

.DS_Store
